<div class="container">
  <div class="box top">
    <traffic-light
      [displaySideways]="true"
      [activeLight]="xTrafficLightsSignal"
    >
    </traffic-light>
  </div>

  <div class="box left">
    <traffic-light
      [activeLight]="yTrafficLightsSignal"
    >
    </traffic-light>
  </div>

  <div class="box bottom">
    <traffic-light
      [displaySideways]="true"
      [activeLight]="xTrafficLightsSignal"
    >
    </traffic-light>
  </div>

  <div class="box right">
    <traffic-light
      [activeLight]="yTrafficLightsSignal"
    >
    </traffic-light>
  </div>
</div>
