<div class="container">
  <div class="box top">
    <traffic-light
      [displaySideways]="true"
      [activeLight]="xTrafficLightsSignal"
    >
    </traffic-light>
  </div>

  <div class="box left">
    <traffic-light
      [activeLight]="yTrafficLightsSignal"
    >
    </traffic-light>
  </div>

  <div class="box bottom">
    <traffic-light
      [displaySideways]="true"
      [activeLight]="xTrafficLightsSignal"
    >
    </traffic-light>
  </div>

  <div class="box right">
    <traffic-light
      [activeLight]="yTrafficLightsSignal"
    >
    </traffic-light>
  </div>

  <button class="center-button" (click)="emergency()">Авария</button>
  <button class="corner-button top-left" (click)="cross(true)" [disabled]="yTrafficLightsSignal === TrafficLight.RED">Пресечи Горе Ляво</button>
  <button class="corner-button top-right" (click)="cross(true)" [disabled]="yTrafficLightsSignal === TrafficLight.RED">Пресечи Горе Дясно</button>
  <button class="corner-button bottom-left" (click)="cross(false)" [disabled]="xTrafficLightsSignal === TrafficLight.RED">Пресечи Долу Ляво</button>
  <button class="corner-button bottom-right" (click)="cross(false)" [disabled]="xTrafficLightsSignal === TrafficLight.RED">Пресечи Долу Дясно</button>
</div>
